body{
    background-color: #00356B;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main1{
    width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.main2{
border-radius: 10px;
background-color:#2e5090;
/* BEBFC5 */

} 

.btn{
width: 50px;
height: 52px;
font-size: 25px;
border-radius: 20%;

/* border-bottom-left-radius: 50%;
border-bottom-right-radius: 50%; */
background-color:#00356B;
/* C0C0C0 */
border: none;
color: white;
margin: 5px;

}
.clearall{
    /* background-color: #FFBA00; */
    /* width: 80px; */
    /* border-radius: 30px; */
    font-size: 30px;
}
.resalt{
    /* border-radius: 30px; */
       /* width: 80px; */
       /* height: 80PX; */
    font-size: 40px;
    /* background-color: #4A5D23; */
    
}
.unique{
    font-weight: 600;
    background-color:white;
    color: #00356B;


}
.Allbtns{
    margin: 20px 0px;
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.inp input{
    
margin-top: 25px;
    width: 225px;
    height: 30px;
    padding: 15px;
    font-size: 30px;
    text-align: end;
    border-radius: 10px;
    color: white;
    background-color: #353839;
    
}
.inp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inp input::placeholder{
    color: white;
    background-color: #353839;
}